In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
df= pd.read_csv(r"C:\Users\lenovo\Downloads\homeprices _for_multi_var.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
###how to preprocess the data to fill the Nan value
# approach is first calculate the median of the bedrooms datframe series and then fill the nan place with it 
import math
bedrooms_median= math.floor(df.bedrooms.median())
bedrooms_median

4

In [8]:
df.bedrooms= df.bedrooms.fillna(bedrooms_median)

In [9]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [10]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [11]:
reg.intercept_

221323.00186540384

In [12]:
reg.predict([[2800,4,40]])

C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([499384.64326982])